:root {
  /* COLOR */
  --dark-blue: #1F2937;
  --blue: #3882F6;
  --grey: #E5E7EB;
  --white: #F9FAF8;

  /* TEXT */
  --font: "Roboto", sans-serif;
  --huge: 48px;
  --big: 36px;
  --medium: 24px;
  --small: 18px;
  --bold: 900;
  --light: 300;
  --emphasis: italic;
}

body {
  font-family: var(--font);
  padding: 0;
  margin: 0;
}

.header {
  background-color: var(--dark-blue);
  color: var(--white);
  display: flex;
  justify-content: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 720px;
  padding: 16px;
}

.header-logo {
  font-size: var(--medium);
}

.header-links {
  font-size: var(--small);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  gap: 16px;
}

a {
  color: var(--white);
  text-decoration: none;
}
