:root {
  /* COLOR */
  --dark-blue: #1F2937;
  --blue: #3882F6;
  --dark-grey: #6d747d;
  --grey: #E5E7EB;
  --white: #F9FAF8;

  /* TEXT */
  --font: "Roboto", sans-serif;
  --huge: 48px;
  --big: 36px;
  --medium: 24px;
  --small: 18px;
  --bold: 900;
  --light: 300;
  --emphasis: italic;

  /* LAYOUT */
  --content-width: 720px;
  --item-spacing: 16px;
}

/* TAGS */

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: var(--grey);
  text-decoration: none;
}

/* HEADER */
.header {
  background-color: var(--dark-blue);
  color: var(--white);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--content-width);
  margin: auto;
}

.header-logo {
  font-size: var(--medium);
}

.header-links > ul {
  display: flex;
  justify-content: flex-end;
  gap: var(--item-spacing);
  font-size: var(--small);
}

/* HERO BANNER */
